.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #002B36;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(84, 110, 160, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: rgba(112, 86, 151, 0.9);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slidecontainer {
  padding-left: 75px;
  position: relative;
}

span.slider-dark {
  left: 25px;
  top: 8px;
  opacity: 0.5;
}

span.slider-light {
  right: -55px;
  top: 8px;
  opacity: 0.5;
}

.slidecontainer span {
  display: inline-block;
  position: absolute;
}

span.slider-text-light {
  color: rgba(112, 86, 151, 0.9);
}

span.slider-text-dark {
  color: rgba(167, 110, 18, 0.5);
}