<div class="card box-shadow">
  <div class="card-header text-center">
    Current Astronauts in Space
  </div>
  <div class="card-body">
    <ul>
      <li *ngFor="let person of astronauts.people">
        <span style="font-weight:bold;">{{ person.name }}</span> on the {{ person.craft }}
      </li>
    </ul>
    <button class="btn btn-info" style="width:100%">More about the Crew</button>
  </div>
</div>
<div id="iss-info" class="col-sm-12 my-2">
  <div class="card box-shadow">
    <div class="card-header text-center">
      ISS Facts
    </div>
    <div class="card-body">
      <p class="card-text">
        <ul>
          <li *ngFor="let fact of facts">{{fact}}</li>
        </ul>
    </div>
  </div>