<button class="btn btn-info" style="    z-index: 100;
right: 30px;position: absolute;
margin-top: 30px;" routerLink="/map">View Fullsize Map</button>
<app-google-map [issNowData]="issNowData"></app-google-map>
<div class="container">
  <div class="row mx-2">
    <app-geonames-flag class="col-sm-6 text-center my-2" [issNowData]="issNowData"></app-geonames-flag>
    <app-current-astronauts id="astronauts" class="col-sm-6 my-2"></app-current-astronauts>
    <app-issfacts id="iss-info" class="col-sm-12 my-2"></app-issfacts>
  </div>
</div>