/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

nav {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}

.nav-item:hover {
  border-bottom: 3px solid;
  margin-bottom: -3px;
}

.navbar-dark .nav-item:hover {
  color: rgba(255, 255, 255, .25);
}

.navbar-light .nav-item:hover {
  color: rgba(167, 110, 18, 0.25)
}

.nav-item {
  margin-left: 1rem;
}

.nav-item.active {
  border-bottom: 3px solid;
  margin-bottom: -3px;
}

.navbar-dark .nav-item.active {
  color: #fff;
}

.navbar-light .nav-item.active {
  color: rgba(167, 110, 18, 0.9)
}

.navbar-brand {
  font-size: 1.75rem;
}

.main-container {
  min-height: 100vh;
  height: 800px;
}

.card.bg-dark {
  background: rgba(38,45,51,.75) !important;
}