/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

nav {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}

.nav-item:hover {
  color: rgba(255, 255, 255, .25);
  border-bottom: 3px solid;
  margin-bottom: -3px;
}

.nav-item {
  margin-left: 1rem;
}

.nav-item.active {
  color: #fff;
  border-bottom: 3px solid;
  margin-bottom: -3px;
}

.navbar-brand {
  font-size: 1.75rem;
}

.main-container {
  min-height: 100vh;
  height: 800px;
}